
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>创建一个新的笔记</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', orid: @orid %>
    </div>
<!--    <div class="panel-footer">-->
      <%#= link_to '返回', orids_path ,:class=> 'btn btn-success' %>
<!--    </div>-->

  </div>
</div>



