
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>创建一个新的笔记</h1>
    </div>
    <div class="panel-body">
      <%= render 'form', orid: @orid %>
    </div>
  </div>
</div>



