<div class="pageSidebar">
  <ul class="nav nav-stacked nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        个人信息<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
<!--          <a href="nav1.html" target="mainFrame">个人信息</a>-->
          <%= link_to '个人信息', current_user %>
        </li>
        <li>
<!--          <a href="nav2.html" target="mainFrame">导航链接4-2</a>-->
          <%= link_to '修改密码',changepassword_user_path %>
        </li>
      </ul>
    </li>


    <li role="presentation">
<!--      <a href="nav1.html" target="mainFrame">我的笔记</a>-->
      <%= link_to '我的笔记' , myorids_user_path %>
    </li>
  </ul>
</div>
