<div class="pageSidebar">
  <ul class="nav nav-stacked nav-pills">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        个人信息<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="nav1.html" target="mainFrame">导航链接4-1</a>
        </li>
        <li>
          <a href="nav2.html" target="mainFrame">导航链接4-2</a>
        </li>
        <li>
          <a href="nav3.html" target="mainFrame">导航链接4-3</a>
        </li>
      </ul>
    </li>


    <li role="presentation">
      <a href="nav1.html" target="mainFrame">导航链接1</a>
    </li>
    <li role="presentation">
      <a href="nav2.html" target="mainFrame">导航链接2</a>
    </li>
    <li role="presentation">
      <a href="nav3.html" target="mainFrame">导航链接3</a>
    </li>
    <li role="presentation">
      <a href="nav4.html" target="mainFrame">导航链接5</a>
    </li>
  </ul>
</div>
