<% if  @orids %>
  <table class="table table-striped">
    <%  @orids.each do |orid| %>

        <% if orid.public %>
        <tr class="success">
        <% else %>
        <tr >
        <% end %>
        <td width="200">
          <%= orid.created_at.strftime('%Y-%m-%d %H:%m') %>
        </td>
        <td>
          <%=  orid.o.gsub(/<\/?.*?>/,"") %>
        </td>
        <td>
          <%= link_to '查看', orid,:class=>'pull-right' %>
          <%= link_to '修改', edit_orid_path(orid),:class=>'pull-right' %>
        </td>
      </tr>
    <% end %>
  </table>
    <% else %>
            <div class="row col-md-12">
              没有笔记，快点创建一个吧
            </div>
    <% end %>