<div class="jumbotron banner1">
    <div class="container">
        <h1>ORID 聚焦式学习</h1>
        <p>你从未遇过的高效学习方式</p>
        <p>
            <%=  link_to '记录我的第一条ORID' , postorid_path ,:class=>'btn btn-primary btn-lg' %>
        </p>
    </div>
</div>