<%= render '/welcome/banner'%>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">什么是ORID?</h3>
    </div>


    <div class="panel-body">
      聚焦式是遵循脑科学的原理，通过四个层次循序渐进的提问，引导回答者从事情的表象进行深层次的思考，并最终作出行为决策的过程。
      聚焦式学习法 包括四个层次：
      <ul>
        <li>Objective：事实。 客观事实层次，就是你看到、听到、闻到、尝到、摸到，感触到的一切。</li>
        <li>Reflective：感受。 情绪感觉层次，就是你的喜怒哀乐，开心、兴奋、失望、恐惧、难受香菇等等。</li>
        <li>Interpretive：想法。 诠释层次， 就是你自己的理解，反思。</li>
        <li>Decisional ： 决定。 决定层次，就是你接下来的打算。</li>
      </ul>
      以上四个层次的首字母既形成了ORID------------------------ by《聚焦式会话艺术》
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">ORID有什么用？</h3>
    </div>
    <div class="panel-body">
      <p>ORID 以前主要用于会议讨论、培训。通过四个层次循序渐进的提问，引导回答者从事情的表象进行深层次的思考，并最终作出行为的决策。使用ORID反思每日的学习成果，同一个坑绝不会踩两次。</p>

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">ORID怎么用？</h3>
    </div>
    <div class="panel-body">


      <h4>Objective 客观：</h4>

      <p>关于今天的课程, 你记得什么?</p>
      <p>今天学习了第二式 飞龙在天。</p>

      <p>完成了什么?</p>
      <p>今天是学习的第三天，终于学会了第二招，飞龙在天。</p>


      <h4>Reflective 感受</h4>

      <p>你要如何形容今天的情绪。</p>
      <p>非常高兴，</p>终于学会了。
      <p>今天的高峰是什么?</p>
      <p>第一次成功时。气走督脉，跃起半空，提气丹田，放松肌骨，居高下击，打碎大石，一气合成，喜悦之情难以言表。</p>
      <p>今天的低点是什么?</p>
      <p>上午练了半天，还是记不住“等真气上升之后，放松肌骨，存想玉枕穴间”，觉得自己太笨了，要是蓉儿，早就会了。有些灰心。</p>

      <h4>Interpretive 解释反思</h4>


      <p>我们今天学到了什么?</p>
      <p>今天学到了降龙十八掌的第二招，飞龙在天。完整口诀记录如下： 气走督脉 行手阳明大肠经商阳，二间，三间，合谷，阳溪，偏历，温溜，下廉，上廉，手三里，曲池，肘髎，手五里，臂臑，肩髃，巨骨，天鼎，扶突，口和髎，迎香.</p>
      <p>此式跃起凌空，居高下击，先声夺人! 以一飞冲天之式上跃双膝微曲，提气丹田，待觉真气上升，放松肌骨，存想玉枕穴间,急发掌劲取敌首,肩,胸上三路。</p>
      <p>训练中的大坑：真气上升后，不放松，直接发力，则功力只能发挥一成。一定要等真气上升后，再放松肌骨，存想玉枕穴间，再发力。</p>

      <p>今天一个重要的领悟是什么?</p>
      <p>我虽然笨，但是只要肯花时间刻意练习，不断练习，迟早会学会。</p>

      <h4>Decisional 决定行动</h4>

      <p>我们会如何用一句话形容今天的工作</p>
      <p>功夫不负有心人。</p>

      <p>有哪些工作需要明天继续努力?</p>
      <p>明天要更有信心，相信自己绝对可以。继续学习第三招"见龙在田"。</p>

    </div>
  </div>
</div>
<%= render '/welcome/banner'%>