// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding-top: 50px;
}
body.welcome-index{
  background-image: url('/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.welcome-index .jumbotron{
  background-color: rgba(222,222,222,0.3);
}
.welcome-index .panel{
  background-color: rgba(255,255,255,0.4);
}
.welcome-index .panel-default > .panel-heading{
  background-color: rgba(222,222,222,0.5);
}
a:visited{
  color:#fff;
}
.welcome-index .banner1{
  background-image: url('/images/testimonial_bg.jpg');
  background-position: center center;
  color:#fff;
  text-align: center;
  //height:300px;
  a.btn{
    background-color: rgba(0,0,234,0.6);
  }
}
.footer{
  text-align: center;
}